<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.task1">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/front_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/front_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1454058254679131"
            android:exported="true" />

        <activity android:name=".home.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.MainActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.home.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".product.activity.ProductActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.product.activity.ProductActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".product.activity.ProductDescriptionActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.product.activity.ProductDescriptionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".category.activity.AllCategoryActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.category.activity.AllCategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".home.AllDetailsActivity" />
        <activity android:name=".brand.activity.BrandsActivity" />
        <activity android:name=".login.RegistrationActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity android:name=".firebase.FirebaseActivity" />
        <activity android:name=".firebase.UserProfileActivity" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".cart.activity.CartActivity" />
    </application>

</manifest>