<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.task1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/front_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/front_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".ProductsActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.ProductsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".SingleItemActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.SingleItemActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
    </application>

</manifest>