<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.task1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/front_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/front_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.activity.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".product.activity.ProductActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.product.activity.ProductActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".product.activity.ProductDescriptionActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.product.activity.ProductDescriptionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".settings.activity.AllCategoryActivity">
            <intent_filter>
                <action android:name="com.example.admin.task1.settings.activity.AllCategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent_filter>
        </activity>
        <activity android:name=".activity.AllDetailsActivity" />
        <activity android:name=".settings.activity.BrandsActivity"></activity>
    </application>

</manifest>